pl_ingesta_transandino.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_databricks":{"type":"string"},"ls_adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_ingesta_transandino')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"copy_envios","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"envios.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"envios","p_fecha_proceso":{"value":"@pipeline().parameters.p_fecha_proceso","type":"Expression"}}}]},{"name":"copy_transportistas","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"transportistas.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"transportistas","p_fecha_proceso":{"value":"@pipeline().parameters.p_fecha_proceso","type":"Expression"}}}]},{"name":"copy_rutas","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"rutas.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"rutas","p_fecha_proceso":"@pipeline().parameters.p_fecha_proceso"}}]},{"name":"copy_clientes","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"clientes_logistica.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"clientes","p_fecha_proceso":"@pipeline().parameters.p_fecha_proceso"}}]},{"name":"copy_incidencias_23","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"incidencias_2023.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"incidencias_23","p_fecha_proceso":"@pipeline().parameters.p_fecha_proceso"}}]},{"name":"copy_incidencias_24","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_csv_raw","type":"DatasetReference","parameters":{"p_nombre_archivo":"incidencias_2024.csv"}}],"outputs":[{"referenceName":"ds_csv_landing","type":"DatasetReference","parameters":{"p_nombre_archivo":"incidencias_24","p_fecha_proceso":"@pipeline().parameters.p_fecha_proceso"}}]},{"name":"Notebook1","type":"DatabricksNotebook","dependsOn":[{"activity":"copy_envios","dependencyConditions":["Succeeded"]},{"activity":"copy_transportistas","dependencyConditions":["Succeeded"]},{"activity":"copy_rutas","dependencyConditions":["Succeeded"]},{"activity":"copy_clientes","dependencyConditions":["Succeeded"]},{"activity":"copy_incidencias_23","dependencyConditions":["Succeeded"]},{"activity":"copy_incidencias_24","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Workspace/Users/bjsalinas100@outlook.com/tp_notebook","baseParameters":{"fecha_proceso":{"value":"@pipeline().parameters.p_fecha_proceso","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('ls_databricks')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"p_fecha_proceso":{"type":"string"}},"annotations":[],"lastPublishTime":"2026-06-20T23:25:01Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_csv_raw')]","[concat(variables('factoryId'), '/datasets/ds_csv_landing')]"]},{"name":"[concat(parameters('factoryName'), '/ds_csv_raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"parameters":{"p_nombre_archivo":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_nombre_archivo","type":"Expression"},"fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_csv_landing')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"parameters":{"p_nombre_archivo":{"type":"string"},"p_fecha_proceso":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@concat(dataset().p_nombre_archivo, '.csv')","type":"Expression"},"folderPath":{"value":"@concat(dataset().p_nombre_archivo, '/', dataset().p_fecha_proceso)","type":"Expression"},"fileSystem":"landing"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/adls')]","type":"Microsoft.DataFactory/factories/credentials","apiVersion":"2018-06-01","properties":{"type":"ManagedIdentity","typeProperties":{"resourceId":"/subscriptions/ed6451c4-92d4-4b19-9d6e-5c1c611ba19d/resourcegroups/rg-transandino/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-transandino"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/kv_adf')]","type":"Microsoft.DataFactory/factories/credentials","apiVersion":"2018-06-01","properties":{"type":"ManagedIdentity","typeProperties":{"resourceId":"/subscriptions/ed6451c4-92d4-4b19-9d6e-5c1c611ba19d/resourcegroups/rg-transandino/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-transandino"}},"dependsOn":[]}]}